<div class="row" style="margin-left: 400px; margin-top: 100px;">
    <div class="col-md-6">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Password Recovery</h3>
            </div>
            <form role="form">
                <div class="card-body">
                    <p class="small">Enter your email address and we will send you a link to reset your password.</p>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                    </div>
                   
                </div>
                <div class="card-footer">
                    <a class="link" routerLink="/login">Return to login
                    </a>
                    <button type="submit" (click)="reset()" class=" pull-right btn btn-primary">Reset Password</button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-6">
    </div>
</div>